{% extends "base.html" %}

{% block content %}
    <!-- 自定义操作按钮-->
    <div id="toolbar" class="form-inline">
        <div class="form-group bootstrap-select ">
            <select id="hostType" class="dropdown-menu-right selectpicker ">
                <option value="" selected="selected">主机类型</option>
                <option value="master">主库</option>
                <option value="slave">从库</option>
            </select>
        </div>
        {% if perms.sql.host %}
            <div class="form-group ">
                <button id="btn_add" type="button" class="btn btn-default"
                        onclick="window.location.href='/admin/sql/host/add/'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    添加主机
                </button>
            </div>
        {% endif %}
    </div>
    <!-- 表格-->
    <div class="table-responsive">
        <table id="group-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>
{% endblock content %}
{% block js %}
    {% load staticfiles %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'dist/js/sql-formatter.min.js' %}"></script>
    <script>
        //获取列表
        function grouplist() {
            //采取异步请求
            //初始化table
            $('#group-list').bootstrapTable('destroy').bootstrapTable({
                escape: true,
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                url: "/host/list/",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "client",          //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                     //每页的记录行数（*）
                pageList: [20, 30, 50, 100],       //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'host'               //文件名称设置
                },
                search: true,                      //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                //请求服务数据时所传参数
                queryParams:
                    function (params) {
                        return {
                            type: $('#hostType').val(),
                            search: params.search
                        }
                    },
                columns: [{
                    title: 'IP',
                    field: 'ip',
                    formatter: function (value, row, index) {
                        return "<a target='_blank' href=\"/instance/host/" + value + "/\">" + value + "</a>"
                    }
                }, {
                    title: '系统',
                    field: 'release'
                }, {
                    title: '数据库类型',
                    field: 'type'
                }, {
                    title: '总内存/使用率',
                    field: 'mem_used',
                    formatter: function (value, row, index) {
                        return row.mem + "/" + (value > 60 ? "<span style='color:red'>"+value+"%</span>":value + "%")
                    }
                }, {
                    title: 'CPU/使用率',
                    field: 'cpu_used',
                    formatter: function (value, row, index) {
                        return row.cpu + "/" + (value > 60 ? "<span style='color:red'>"+value+"%</span>":value + "%")
                    }
                }, {
                    title: '网卡流量（M）',
                    field: 'net_traffic',
                    formatter: function (value, row, index) {
                        return value > 9 ? "<span style='color:red'>"+value+"</span>":value
                    }
                }, {
                    title: '实例一',
                    field: 'ins1',
                    formatter: function (value, row, index) {
                        return value['instance_name']
                    }
                }, {
                    title: '实例二',
                    field: 'ins2',
                    formatter: function (value, row, index) {
                        return value['instance_name']
                    }
                }, {
                    title: '实例三',
                    field: 'ins3',
                    formatter: function (value, row, index) {
                        return value['instance_name']
                    }
                }, {
                    title: '实例四',
                    field: 'ins4',
                    formatter: function (value, row, index) {
                        return value['instance_name']
                    }
                }, {
                    title: '实例五',
                    field: 'ins5',
                    formatter: function (value, row, index) {
                        return value['instance_name']
                    }
                }, {
                    title: '实例六',
                    field: 'ins6',
                    formatter: function (value, row, index) {
                        return value['instance_name']
                    }
                }, {
                    title: '更新时间',
                    field: 'time'
                }, {
                    title: '操作',
                    field: 'inited',
                    formatter: function (value, row, index) {
                        {% if perms.sql.host %}
                            if ( value == 0) {
                                return "<button class=\"btn btn-warning btn-xs\" onclick=\"host_init('"+row.id+"')\">初始化环境</button>"
                            } else {
                                return "<button class=\"btn btn-info btn-xs\">已初始化</button>"
                            }
                        {% endif %}
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                onSearch: function (e) {
                    //传搜索参数给服务器
                    queryParams(e)
                }
            });

        }

        setTimeout(function(){        //使用 setTimeout() 方法设定定时60000毫秒
            window.location.reload(); //页面刷新
        }, 60000);
        //初始化数据
        $(document).ready(function () {
            grouplist();
        });
        $("#hostType").change(function () {
            grouplist();
        });
        function host_init(id) {
            if (confirm("确定初始化数据库环境吗？")) {
                $.ajax({
                    url: "/host/init/",
                    type: "POST",
                    data: {'id': id},
                    success: function (res) {
                        console.log(res);
                        if (res.code == 0) {
                            alert(res);
                            window.location.reload();
                        } else {
                            alert(res);
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}
