{% extends "base.html" %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <!-- 列表的表格-->
            <div class="table-responsive">
                <table id="name-list" data-toggle="table" class="table table-striped table-hover"
                       style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showModal">
        <div class="modal-dialog" style="width: 60%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <input type="hidden" id="showPath" class="form-control">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" id="showTitle"></label>
                        <div class="col-sm-4">
                            <button type="button" id="save" class="btn btn-primary" onclick=""
                                    style="display: none;">
                                提交保存
                            </button>
                            <input id="editorSwitch" value="false" class="switch switch-small" type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="column">
                        <pre id="editor" class="ace_editor" style="min-height:350px;"></pre>
                    </div>
                </div> <!--modal-body-->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="auditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">文件外传微贷云盘审批</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="audit_msg" placeholder="简单说明审批理由"
                        datatype="s2-50" errormsg="请认真填写！">
                    </div>

                    <p class="text-info">警告：审批通过后，该文件将被传到该用户的微贷云盘。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="modal_btn_no">拒绝</button>
                    <button type="button" class="btn btn-success" id="modal_btn_yes">同意</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block js %}
    {% load staticfiles %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <link rel="stylesheet" href="/static/toastr/toastr.min.css" type="text/css">
    <script type="text/javascript" src="/static/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.min.js"></script>
    <script type="text/javascript" src="{% static 'ace/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sql.js' %}"></script>
    <style type="text/css">
        #editor {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        </style>
    <script>
        function get_name_list() {
            $('#name-list').bootstrapTable('destroy').bootstrapTable({
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: "/wpan_upload_audit/audit/",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                       //每页的记录行数（*）
                pageList: [20, 30, 50, 100],        //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'files'                //文件名称设置
                },
                search: true,                       //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: true,                  //是否显示父子表
                detailFormatter: function (index, row) {
                    return row.error_msg
                },
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                columns: [{
                    title: '文件名',
                    field: 'file_name',
                    formatter: function (value, row, index) {
                        return '<a class="btn-xs" onclick="showCont(\'/wpan_upload/file_cont/?path='+row.file_path.replace(/\+/g, '%2B').replace(/&/g, '%26')+'\')">'+value+'</a>';
                    }
                }, {
                    title: '文件大小（K）',
                    field: 'file_size'
                }, {
                    title: '申请人',
                    field: 'apply'
                }, {
                    title: '理由',
                    field: 'reason',
                    formatter: function (value, row, index) {
                        if (value.length > 50) {
                            return "<span title ='"+value+"'>"+value.substring(0,50)+"...</span>"
                        }
                        else {
                            return value
                        }
                    }
                }, {
                    title: '申请时间',
                    field: 'create_time'
                }, {
                    title: '审核人',
                    field: 'auditor'
                }, {
                    title: '审核理由',
                    field: 'audit_msg',
                    formatter: function (value, row, index) {
                        if (value.length > 50) {
                            return "<span title ='"+value+"'>"+value.substring(0,50)+"...</span>"
                        }
                        else {
                            return value
                        }
                    }
                }, {
                    title: '操作',
                    field: 'id',
                    formatter: function (value, row, index) {
                        {% if perms.sql.wpan_upload_audit %}
                            var html = '<a type="button" class="btn btn-primary btn-xs" href="/wpan_upload/download/?path=' + row.file_path.replace(/\+/g, '%2B').replace(/&/g, '%26') + '" >下载</a>';
                            if (row.status === 0) {
                                html += '<button class="btn btn-warning btn-xs" onclick="do_audit(\'' +value+ '\')">待审核</button>';
                            } else if (row.status === 1) {
                                html += '<button class="btn btn-success btn-xs" onclick="alert(\'' +row.audit_msg+ '\')">已通过</button>';
                            } else if (row.status === 2) {
                                html += '<button class="btn btn-danger btn-xs" onclick="alert(\'' +row.audit_msg+ '\')">已被拒</button>';
                            } else if (row.status === 3) {
                                html += '<button class="btn btn-default btn-xs" disabled>已过期</button>';
                            } else if (row.status === 4) {
                                return '用户主动取消';
                            }
                        {% else %}
                            if (row.status === 0) {
                                html = '<button class="btn btn-danger btn-xs" onclick="cancel(\'' +row.id+ '\')">取消上传</button>';
                            } else if (row.status === 1) {
                                html = '<button class="btn btn-success btn-xs" onclick="alert(\'' +row.audit_msg+ '\')">已通过</button>';
                            } else if (row.status === 2) {
                                html = '<button class="btn btn-danger btn-xs" onclick="alert(\'' +row.audit_msg+ '\')">已被拒</button>';
                            } else if (row.status === 3) {
                                html = '<button class="btn btn-default btn-xs" disabled>已过期</button>';
                            } else if (row.status === 4) {
                                return '用户主动取消';
                            }
                        {% endif %}
                        return html
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                queryParams: function (e) {
                    return {
                        limit: e.limit,
                        offset: e.offset,
                        search: e.search
                    }
                },
                onSearch: function (e) {
                    //传搜索参数给服务器
                    return {
                        search: e.search
                    }
                },
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    return res;
                }
            });
        }

        $(document).ready(function () {
            get_name_list();
        });

        function showCont(url) {
            console.log(url);
            $.layer({
                type: 2,
                title: '文件内容预览',
                maxmin: true,
                shift: 'top',
                border: [2, 0.3, '#1AB394'],
                shade: [0.5, '#000000'],
                shadeClose: true,
                area: ['800px', '600px'],
                iframe: {src: url}
            });
        }

        function do_audit(apply_id) {
            $('#auditModal').modal({});
            $("#modal_btn_no").unbind("click").click(function(){
                var audit_msg = document.getElementById("audit_msg").value;
                $.ajax({
                    type: "post",
                    url: "/wpan_upload_audit/audit/",
                    timeout: 3000,
                    data: {
                        apply_id: apply_id,
                        audit_msg: audit_msg,
                        is_allow: "no"
                    },
                    success: function (data) {
                        if (data['code'] == 0) {
                            alert(data['result']);
                        } else {
                            alert(data['errmsg']);
                        }
                        $('#auditModal').modal('hide');
                        $('#name-list').bootstrapTable('refresh');
                    },
                    error: function (data) {
                        alert(data);
                        $('#auditModal').modal('hide');
                        get_name_list()
                    }
                });
            });

            $("#modal_btn_yes").unbind("click").click(function(){
                var audit_msg = document.getElementById("audit_msg").value;
                $("#modal_btn_yes").attr("disabled", true);
                $.ajax({
                    type: "post",
                    url: "/wpan_upload_audit/audit/",
                    timeout: 3000,
                    data: {
                        apply_id: apply_id,
                        audit_msg: audit_msg,
                        is_allow: "yes"
                    },
                    success: function (data) {
                        if (data['code'] == 0) {
                            alert(data['result']);
                        } else {
                            alert(data['errmsg']);
                        }
                        $('#auditModal').modal('hide');
                        $('#name-list').bootstrapTable('refresh');
                    },
                    error: function (data) {
                        alert(data);
                        $('#auditModal').modal('hide');
                    },
                    complete: function () {
                        $("#modal_btn_yes").attr("disabled", false);
                        get_name_list()
                    }
                });
            });
        }
        function cancel(apply_id) {
            if (confirm("确定取消上传申请吗？")) {
                $.ajax({
                    type: "post",
                    url: "/wpan_upload_audit/cancel/",
                    timeout: 3000,
                    data: {
                        id: apply_id
                    },
                    success: function (data) {
                        alert(data);
                        $('#name-log').bootstrapTable('refresh');
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
        }
    </script>
{% endblock %}
